.button{
    -fx-background-color: #00C0EF;
    -fx-background-radius: 30 0 0 30;
}
.button:hover{
    -fx-background-color: white;
    -fx-background-radius: 30 0 0 30;
}
.button:pressed{
    -fx-background-color: #00C0EF;
    -fx-background-radius: 30 0 0 30;
}